*{
    margin: 0;
    padding: 0;

}

body {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 50px;
    background-color: grey;
}
input {
    width: 50px;
    height: 30px;
    margin: 5px;
    text-align: center;
}
.matrix {
    margin-bottom: 20px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
}
.result-matrix {
    margin-top: 20px;
}
